name: Main

on: 
  workflow_dispatch:
    inputs:
      tileset:
        type: choice
        options:
          - asi
          - afr
          - sa
          - na
          - aus_pac
          - eur
          - test  
      zl:
        type: string
        default: 16
      relname:
        type: string
        default: ''


jobs:
  ziplist:
    runs-on: ubuntu-22.04
    outputs:
      chunks: ${{ steps.chunks.outputs.chunks }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Gen tile sub-lists
        id: chunks
        run: |
          TILENAME=${{ inputs.tileset }} make -f Makefile.tiles ${{ inputs.tileset }}_tile_list_chunks
          CHUNKS=$(ls ${{ inputs.tileset }}_tile_list.* | awk -F '.' '/.+/ { printf "%s\"z_${{ inputs.tileset }}_%s.zip\"", sep, ""$2""; sep=", " }')
          #CHUNKS=$(ls ${{ inputs.tileset }}_tile_list.* | awk -v ORS=',' '{print $1}')
          echo "chunks={\"chunk\":[$CHUNKS]}" >> $GITHUB_OUTPUT


  call-build:
    needs: ziplist

    strategy:
      matrix: ${{ fromJSON(needs.ziplist.outputs.chunks) }}
      # might still need several restarts of failed jobs, but prevents us from losing successful work
      fail-fast: false

    uses: ./.github/workflows/build-tiles.yml
    with:
      zip: ${{ matrix.chunk }}
      setname: ${{ inputs.tileset }}
      relname: ${{ inputs.relname }}     


  info:
    #if: startsWith(github.ref, 'refs/tags/')
    needs: call-build

    environment: release

    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ inputs.tileset }}_info.json
          tag_name: ${{ inputs.relname }}     

