name: Test

on:
  push:

jobs:
  ziplist:
    runs-on: ubuntu-22.04
    outputs:
      chunks: ${{ steps.chunks.outputs.chunks }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Gen tile sub-lists
        id: chunks
        run: |
          TILENAME=test make -f Makefile.tiles test_tile_list_chunks
          CHUNKS=$(ls test_tile_list.* | awk -F '.' '/.+/ { printf "%s\"z_test_%s.zip\"", sep, ""$2""; sep=", " }')
          echo "chunks={\"chunk\":[$CHUNKS]}" >> $GITHUB_OUTPUT


  build:
    needs: ziplist

    strategy:
      matrix: ${{ fromJSON(needs.ziplist.outputs.chunks) }}

    call-build:
      uses: kubilus1/autoortho-scenery/.github/workflows/build-tiles.yml
      with:
        zip: ${{ matrix.chunk }}
        setname: test     
